<!-- Modal -->
<div class="modal fade" id="populateModal" tabindex="-1" role="dialog" aria-labelledby="populateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="modal-title" class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer primary-close">
        <button type="button" class="btn btn-default" data-dismiss="modal"></button>
        <button type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>
