<!-- Javascript -->
<script src= "//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="/public/javascripts/moment.js"></script>
<!-- <script src="/public/javascripts/gcal.js"></script>-->
<script src="/public/javascripts/fullcalendar/v2.4.0/fullcalendar.min.js"></script>
<script src="/public/javascripts/fullcalendar/scheduler.min.js"></script>
<script src="/public/javascripts/calendar.js"></script>
<script src="/public/javascripts/selectize.js"></script>
<script src="/public/javascripts/date.js"></script>
<!-- <script src="/public/javascripts/parsley.min.js"></script> -->
<script src="/public/javascripts/jquery-ui-timepicker-addon.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="/public/javascripts/application.js"></script>
