
{{<layout}}

{{$pageTitle}}
DSC - Menu
{{/pageTitle}}
{{$globalHeaderText}}
DSC
{{/globalHeaderText}}

{{$content}}

<div id="calendar-header">
	<div class="content">
		<div class="grid-row">
			<div class="column-two-thirds">
				<div id="global-breadcrumb" class="header-context">
					<ol role="breadcrumbs" class="group">
						<li><a href="/">Home</a></li>
					</ol>
				</div>
				<h1 id="page-heading" class="heading-xlarge">Menu</h1>
			</div>
			<div class="column-third">
				
			</div>
		</div>

	</div>
</div>
<main id="content" role="main">
	<div class="content">
		<div class="grid-row">
			<div class="column-two-thirds">
				<div id='tlIdMap'>
					<p><b>Team Leaders</b></p>
				</div>
				<div id='cmIdMap'>
					<p><b>Case Managers</b></p>

				</div>
				<div id='wcmIdMap'>
					<p><b>Work Coach Managers</b></p>

				</div>
				<div id='wcIdMap'>
					<p><b>Work Coaches</b></p>

				</div>
			</div>
			<div class="column-third">
				
				
			</div>
		</div>
	</div>

</main>



{{/content}}

{{/layout}}
<script src="/public/javascripts/pages/menu.js"></script>